<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="ui inverted vertical footer segment" th:fragment="footer">
    <div class="ui left aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Admissions</h4>
                <div class="ui relaxed inverted link list">
                    <a href="http://admissions.carleton.ca/programs/" class="item">Programs</a>
                    <a href="http://admissions.carleton.ca/" class="item">Undergraduate</a>
                    <a href="http://graduate.carleton.ca/" class="item">Graduate</a>
                    <a href="http://admissions.carleton.ca/applicant-type/international-applicants/" class="item">International</a>
                    <a href="http://carleton.ca/prospective/#anchor3" class="item">Professional Development</a>
                    <a href="http://admissions.carleton.ca/campustours/" class="item">Campus Tours</a>
                    <a href="http://carleton.ca/awards/" class="item">Financial Aid</a>
                    <a href="http://carleton.ca/cie/" class="item">Initiatives In Education</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">Students / Academics</h4>
                <div class="ui two column grid">
                    <div class="column">
                        <div class="ui relaxed inverted link list">
                            <a href="http://students.carleton.ca/" class="item">Undergrad Homepage</a>
                            <a href="http://gradstudents.carleton.ca/" class="item">Grad Homepage</a>
                            <a href="http://calendar.carleton.ca/" class="item">Calendars</a>
                            <a href="http://carleton.ca/cuol/" class="item">Carleton Online</a>
                            <a href="//carleton.ca/career/" class="item">CO-OP &amp; Career Services</a>
                            <a href="http://carleton.ca/culearn/" class="item">cuLearn</a>
                            <a href="http://carleton.ca/academics/" class="item">Departments &amp; Faculties</a>
                            <a href="http://carleton.ca/discoverycentre/" class="item">Discovery Centre</a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui relaxed inverted link list">
                            <a href="http://carleton.ca/ccs/all-services/email/carleton-student-email/" class="item">Email</a>
                            <a href="http://library.carleton.ca/" class="item">Library</a>
                            <a href="http://housing.carleton.ca/" class="item">Housing</a>
                            <a href="http://carleton.ca/provost/" class="item">Provost's Office</a>
                            <a href="http://carleton.ca/registrar/" class="item">Registrar's Office</a>
                            <a href="http://carleton.ca/registrar/registration/" class="item">Registration</a>
                            <a href="http://carleton.ca/academics/schedules-dates/" class="item">Schedules &amp; Dates</a>
                            <a href="http://carleton.ca/academics/support/" class="item">Support Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Campus</h4>
                <div class="ui relaxed inverted link list">
                    <a href="http://carleton.ca/campus/" class="item">Campus Map</a>
                    <a href="http://carleton.ca/campus/directions/" class="item">Directions</a>
                    <a href="http://events.carleton.ca/" class="item">Events</a>
                    <a href="http://carleton.ca/parking/" class="item">Parking</a>
                    <a href="http://carleton.ca/safety/" class="item">Safety</a>
                    <a href="http://dining.carleton.ca/" class="item">Dining Services</a>
                    <a href="http://cusaonline.ca/clubs/" class="item">Clubs &amp; Societies</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Other</h4>
                <div class="ui relaxed inverted link list">
                    <a href="http://carleton.ca/giving/" class="item">Giving to Carleton</a>
                    <a href="http://athletics.carleton.ca/" class="item">Athletics &amp; Recreation</a>
                    <a href="http://goravens.ca/" class="item">Go Ravens - Varsity</a>
                    <a href="http://goravens.ca/" class="ui tiny image">
                        <img src="/assets/images/logo-goravens.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui centered grid">
            <div class="row">
                <img src="/assets/images/logo.png" class="ui mini image">
            </div>
            <div class="ui horizontal inverted small divided link list">
                <a href="https://carleton.ca/about/contact/" class="item">Contact Us</a>
                <a href="http://carleton.ca/privacy/policies/" class="item">Privacy Policies</a>
                <a href="http://carleton.ca/accessibility/" class="item">Accessibility</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>