<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ui fixed inverted pointing menu" th:fragment="homeheader">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/assets/images/logo.png">
            Engineering Project
        </a>
        <!--TODO: Non-static pages fix up yet to come-->
        <!--<a href="#" class="item">Course Outline</a>-->
        <a href="/announcements" class="item">Announcements</a>
        <!--<a href="deadlines" class="item">Deadlines</a>-->
        <a href="projects" class="item">Projects</a>
        <div sec:authorize="isAuthenticated()" class="ui right floated dropdown item top-right">
            <div class="text">
                <img class="ui avatar image" src="https://randomuser.me/api/portraits/lego/0.jpg">
                <span sec:authentication="name"></span>
            </div><i class="dropdown icon"></i>
            <div class="menu">
                <!--<div class="item">Profile</div>-->
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
        <div sec:authorize="isAnonymous()" class="right menu">
            <div class="item">
                <a class="ui button" href="/login"><i class="icon user"></i>
                    Log in</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>