<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ui fixed inverted pointing menu" th:fragment="homeheader">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="assets/images/logo.png">
            Engineering Project
        </a>
        <a href="/" class="item">Home</a>
        <a href="#" class="item">Course Outline</a>
        <a href="notices" class="item">Announcements</a>
        <a href="deadlines" class="item">Deadlines</a>
        <a href="projects" class="item">Projects</a>
        <div class="ui right floated dropdown item top-right">
            <button class="ui inverted button" name="login-button" type="submit">
                <i class="icon user"></i>
                Log in
            </button>
        </div>
    </div>
</div>
</body>
</html>