<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add Project</title>

    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="ui main container">
    <h1 class="ui header">Add New Project</h1>

    <form class="ui form" th:action="@{/addproject}" th:object="${project}" method="post">
        <div class="field">
            <label>Project Name</label>
            <input type="text" name="project-name" placeholder="Project Name" th:field="*{projectName}">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="description"  th:field="*{description}"></textarea>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Minimum Number of students</label>
                <input type="number" name="min-students" placeholder="2" th:field="*{minNumberOfStudents}">
            </div>
            <div class="field">
                <label>Maximum Number of students</label>
                <input type="number" name="max-students" placeholder="5" th:field="*{maxNumberOfStudents}">
            </div>
        </div>
        <button class="ui button primary" type="submit">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="vendor/semantic.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>