<!DOCTYPE html>
<html lang="en">
<head>
    <title>4th-Year-Project</title>

    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:insert="fragments/homeheader :: homeheader"></div>

<div class="ui main container">
    <div class="centermain">
        <div class="ui horizontal divider">
            <i class="calendar alternate outline icon"></i>
            2018/2019 Project Deadlines
        </div>
    </div>
    <div>
        <p>NOTE: You can refer to the corresponding sections of the course website for more information.</p>


        <h3 class="ui header">Wednesday, September 12th 2018</h3>
        <p>Deadline for Project Selection. Use Student Login to register your project selection.
            If you have not found a supervisor by this date, contact the SCE project coordinator for assistance
            in identifying a project and supervisor in the department of SCE.</p>
        <div class="ui section divider"></div>
        <h3 class="ui header">Tuesday, September 18th 2018, Noon</h3>
        <p>Final Deadline for Project Selection (as assigned by Project Coordinator).</p>
        <div class="ui section divider"></div>
        <h3 class="ui header">Tuesday, September 18th 2018</h3>
        <p>Final Deadline for SYSC-4907 Course Registration (according to the University Calendar).</p>
        <div class="ui section divider"></div>
        <h3 class="ui header">Monday, September 24th 2018, Noon</h3>
        <p>Project Proposal Due (Submit on-line).</p>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>