<!DOCTYPE html>
<html lang="en">
<head>
    <title>4th-Year-Project</title>

    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:insert="fragments/homeheader :: homeheader"></div>

<div class="ui main container">
    <div class="centermain">
        <div class="ui horizontal divider">
            <i class="bullhorn icon"></i>
            2018/2019 Project Notices
        </div>
    </div>
    <div>
        <div class="ui list">
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Next event: Friday, March 8th 2019.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Next event: Friday, March 15th, from 9:00AM to 5:00PM.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    The department announced a video competition, with the first price $1000 for the group. For more information, see this PDF file.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Did you know that not only can you borrow e-books, music, board games, video games as well as laptops from the library, but you can now borrow embedded hardware - Raspberry PIs and Arduinos. To do so, go to the CCS service desk on the 4th floor of the libary.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Please use your Carleton University (cmail) accounts in all email correspondence. In particular, all email from yahoo, hotmail and gmail is being filtered out.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Keep your eye on the Competitions sidebar. You may be able to get funding for equipment through the Carleton University Engineering Student Equipment Fund.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Any project that involves experimentation or data collection with human subjects requires approval from the ethics committee. Please refer to this FAQ.
                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="item">
                <i class="bell outline icon"></i>
                <div class="content">
                    Need technical help: Please read the Lab Procedures for all Fourth Year Students.
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>