<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>4th-Year-Project</title>

    <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="assets/images/logo.png">
            Engineering Project
        </a>
        <a href="#" class="item">Home</a>
        <a href="#" class="item">Projects</a>
        <div class="ui right floated dropdown item top-right">
            <div class="text">
                <img class="ui avatar image" src="https://randomuser.me/api/portraits/lego/0.jpg">
                Jason Jaskolka
            </div><i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Profile</div>
                <div class="item">Logout</div>
            </div>
        </div>
    </div>
</div>

<div class="ui main container">
    <h1 class="ui header">Projects</h1>
    <table style="overflow-x:auto;" class="ui celled structured stackable table projects">
        <thead>
        <tr>
            <th rowspan="2" class="left aligned">ID</th>
            <th rowspan="2" class="left aligned">Title</th>
            <th rowspan="2" class="left aligned">Program</th>
            <th colspan="2" class="left aligned">Students</th>
            <th rowspan="2" class="left aligned">Edit</th>
            <th rowspan="2" class="left aligned">Delete</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Program</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${#lists.isEmpty(projects)}">
            <tr>
                <td rowspan="4">1</td>
                <td rowspan="4">Sensact: Generic assistive device interface</td>
                <td rowspan="4">Biomed</td>
                <td>Kyra Bloomfield</td>
                <td>Biomed</td>
                <td rowspan="4">
                    <div class="ui vertical animated blue button" tabindex="0">
                        <div class="hidden content">Edit</div>
                        <div class="visible content">
                            <i class="edit icon"></i>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="ui vertical animated red button" tabindex="0">
                        <div class="hidden content">Archive</div>
                        <div class="visible content">
                            <i class="archive icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Katie Miller</td>
                <td>Biomed</td>
            </tr>
            <tr>
                <td>Carly Roos</td>
                <td>Biomed</td>
            </tr>
            <tr>
                <td>Allison Sherwin</td>
                <td>Biomed</td>
            </tr>

            <tr>
                <td rowspan="4">2</td>
                <td rowspan="4">Who's Got The Kids?</td>
                <td rowspan="4">SE</td>
                <td>Alexandre Cournoyer</td>
                <td>SE</td>
                <td rowspan="4">
                    <div class="ui vertical animated blue button" tabindex="0">
                        <div class="hidden content">Edit</div>
                        <div class="visible content">
                            <i class="edit icon"></i>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="ui vertical animated red button" tabindex="0">
                        <div class="hidden content">Archive</div>
                        <div class="visible content">
                            <i class="archive icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Daniel Gravel</td>
                <td>SE</td>
            </tr>
            <tr>
                <td>Bhavik Tailor</td>
                <td>SE</td>
            </tr>
            <tr>
                <td>Tanzim Zaman</td>
                <td>SE</td>
            </tr>
        </div>
        <div th:if="${not #lists.isEmpty(projects)}">
            <tr th:each="project: ${projects}">
                <td rowspan="1" th:text="${project.id}"></td>
                <td rowspan="1" th:text="${project.projectName}"></td>
                <td rowspan="1">SE</td>
                <td>Alexandre Cournoyer</td>
                <td>SE</td>
                <td rowspan="1">
                    <div class="ui vertical animated blue button" tabindex="0">
                        <div class="hidden content">Edit</div>
                        <div class="visible content">
                            <i class="edit icon"></i>
                        </div>
                    </div>
                </td>
                <td rowspan="1">
                    <div class="ui vertical animated red button" tabindex="0">
                        <div class="hidden content">Archive</div>
                        <div class="visible content">
                            <i class="archive icon"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </div>
        </tbody>
        <tfoot class="full-width">
        <tfoot class="full-width">
        <tr>
            <th colspan="7">
                <div class="ui floated small primary labeled icon button">
                    <i class="user icon"></i><a href="/addproject">Add Project</a>
                </div>
            </th>
        </tr>
        </tfoot>
        </tfoot>
    </table>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Group 1</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Group 2</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Group 3</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="assets/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="vendor/semantic.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>