<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>4th-Year-Project</title>

    <link rel="stylesheet" type="text/css" href="/vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:insert="fragments/header :: header"></div>
<div class="ui main container">
    <h1 class="ui header">Projects</h1>
    <table style="overflow-x:auto;" class="ui celled structured stackable table projects">
        <thead>
        <tr>
            <th rowspan="2" class="left aligned">ID</th>
            <th rowspan="2" class="left aligned">Title</th>
            <th rowspan="2" class="left aligned">Program Restrictions</th>
            <th rowspan="2" class="left aligned">Edit</th>
            <th rowspan="2" class="left aligned">Archive</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${not #lists.isEmpty(projects)}">
            <tr th:each="project: ${projects}">
                <td rowspan="1" th:text="${project.id}"></td>
                <td rowspan="1" th:text="${project.projectName}"></td>
                <td rowspan="1">
                    <span th:each="program : ${project.programRestrictions}" th:text="${program.programCode + ' '}"></span>
                </td>
                <td rowspan="1">
                    <a th:href="'/project/edit?id=' + ${project.id}">
                        <div class="ui vertical animated blue button" tabindex="0">
                            <div class="hidden content">Edit</div>
                            <div class="visible content">
                                <i class="edit icon"></i>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="1">
                    <form action="/archive" method="POST">
                        <input name="id" type="hidden" th:value="${project.id}">
                        <button type="submit" class="ui vertical animated red button" tabindex="0">
                            <div class="hidden content">Archive</div>
                            <div class="visible content">
                                <i class="archive icon"></i>
                            </div>
                        </button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
        <tfoot class="full-width">
        <tfoot class="full-width">
        <tr>
            <th colspan="7">
                <a href="/project/add">
                    <div class="ui floated small primary labeled icon button">
                        <i class="user icon"></i>Add Project
                    </div>
                </a>
            </th>
        </tr>
        </tfoot>
        </tfoot>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/vendor/semantic.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>