<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>4th-Year-Project-projects</title>

    <link rel="stylesheet" type="text/css" href="/vendor/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:insert="fragments/homeheader :: homeheader"></div>
<div class="ui main container">
    <div class="ui horizontal divider">
        <i class="clipboard icon"></i>
        All projects
    </div>
    <table style="overflow-x:auto;" class="ui celled structured stackable table projects">
        <thead>
        <tr>
            <th rowspan="2" class="center aligned">ID</th>
            <th rowspan="2" class="center aligned">Title</th>
            <th rowspan="2" class="center aligned">Max Number of Students</th>
            <th rowspan="2" class="center aligned">Program Restrictions</th>
            <th rowspan="2" class="center aligned">Current Students</th>
            <th th:if="${role == 'STUDENT' && currentProject == null}" rowspan="2" class="center aligned">Join Project</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${not #lists.isEmpty(projects)}">
            <tr th:each="project: ${projects}" class="center aligned">
                <td rowspan="1" th:text="${project.id}"></td>
                <td rowspan="1" th:text="${project.projectName}"></td>
                <td rowspan="1" th:text="${project.maxNumberOfStudents}"></td>
                <td rowspan="1">
                    <span th:each="program : ${project.programRestrictions}" th:text="${program.programCode + ' '}"></span>
                </td>
                <td rowspan="1">
                    <th:block th:each="student : ${project.students}">
                        <span th:text="${student.firstName + ' ' + student.lastName}"></span>
                        <br>
                    </th:block>
                </td>
                <td th:if="${role == 'STUDENT' && currentProject == null}" rowspan="1">
                    <a th:if="${project.maxNumberOfStudents > #lists.size(project.students)}" th:href="${'/joinproject?id=' + project.id}"><i class="user plus icon"></i></a>
                </td>
            </tr>
        </div>
        </tbody>
        <tfoot class="full-width">
        <tfoot class="full-width">
        </tfoot>
        </tfoot>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/vendor/semantic.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>